@font-face {
  font-family: "iconfont"; /* Project id 4866449 */
  src: url('@/static/iconfont/iconfont.woff2?t=1743993426764') format('woff2'),
       url('@/static/iconfont/iconfont.woff?t=1743993426764') format('woff'),
       url('@/static/iconfont/iconfont.ttf?t=1743993426764') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wodeshouquan2:before {
  content: "\e7b0";
}

.icon-xiaoshoushuju:before {
  content: "\e725";
}

.icon-xiaoxizhongxin:before {
  content: "\e6ee";
}

.icon-zhineng:before {
  content: "\e77f";
}

.icon-yichangbaogao:before {
  content: "\e7a7";
}

.icon-lizaixianjilu:before {
  content: "\e7a8";
}

.icon-jihuarenwu:before {
  content: "\e7a9";
}

.icon-gengduo1:before {
  content: "\e7aa";
}

.icon-peiwang:before {
  content: "\e7ab";
}

.icon-fuzeren:before {
  content: "\e7ac";
}

.icon-yidongshebei:before {
  content: "\e7ad";
}

.icon-xialasanjiao:before {
  content: "\e7ae";
}

.icon-jihuaguanli:before {
  content: "\e7af";
}

.icon-dianhua1:before {
  content: "\e796";
}

.icon-genjintixing:before {
  content: "\e7a5";
}

.icon-weizhi:before {
  content: "\e79b";
}

.icon-jiebang:before {
  content: "\e79c";
}

.icon-qiyexinxi:before {
  content: "\e78c";
}

.icon-liuchengguanli:before {
  content: "\e78b";
}

.icon-gerenxinxi:before {
  content: "\e78a";
}

.icon-yuangongguanli:before {
  content: "\e789";
}

.icon-zhiweiguanli:before {
  content: "\e788";
}

.icon-wancheng:before {
  content: "\e77b";
}

.icon-qiye:before {
  content: "\e77a";
}

.icon-shangchuantupian:before {
  content: "\e762";
}

.icon-eleme:before {
  content: "\e771";
}

.icon-s-custom:before {
  content: "\e76f";
}

.icon-s-goods:before {
  content: "\e770";
}

.icon-s-claim:before {
  content: "\e76d";
}

.icon-s-check:before {
  content: "\e76e";
}

.icon-s-data:before {
  content: "\e76b";
}

.icon-phone:before {
  content: "\e76c";
}

.icon-s-help:before {
  content: "\e76a";
}

.icon-s-tools:before {
  content: "\e769";
}

.icon-s-cooperation:before {
  content: "\e767";
}

.icon-s-platform:before {
  content: "\e765";
}

.icon-s-promotion:before {
  content: "\e764";
}

.icon-shenpi:before {
  content: "\e777";
}

.icon-faqi:before {
  content: "\e776";
}

.icon-chaosong:before {
  content: "\e775";
}

.icon-qitaliucheng:before {
  content: "\e778";
}

.icon-bumenguanli-fanhuishangji:before {
  content: "\e740";
}

.icon-gongsi:before {
  content: "\e73d";
}

.icon-fujian:before {
  content: "\e73a";
}

.icon-pandianrenwu:before {
  content: "\e755";
}

.icon-fanhui:before {
  content: "\e757";
}

.icon-saoma:before {
  content: "\e758";
}

.icon-chenggong:before {
  content: "\e759";
}

.icon-zanwujihua:before {
  content: "\e75a";
}

.icon-wodegongchang:before {
  content: "\e75d";
}

.icon-haocaifenlei:before {
  content: "\e75b";
}

.icon-haocaiguanli:before {
  content: "\e75c";
}

.icon-zhihang:before {
  content: "\e75e";
}

.icon-qiehuan:before {
  content: "\e751";
}

.icon-shibai:before {
  content: "\e752";
}

.icon-danxuan:before {
  content: "\e761";
}

.icon-baojingjilu:before {
  content: "\e719";
}

.icon-tianxiegenjinhepinglun:before {
  content: "\e737";
}

.icon-huifu:before {
  content: "\e736";
}

.icon-lingqu:before {
  content: "\e733";
}

.icon-crmtianjiaguanbi:before {
  content: "\e734";
}

.icon-zhihanggenjin:before {
  content: "\e72d";
}

.icon-yaoqing:before {
  content: "\e72e";
}

.icon-tuihui:before {
  content: "\e72f";
}

.icon-quxiaoyaoqing:before {
  content: "\e72c";
}

.icon-shanchu:before {
  content: "\e729";
}

.icon-shuzijiajiansanjiao:before {
  content: "\e74d";
}

.icon-jinru:before {
  content: "\e74b";
}

.icon-quxiaoliucheng:before {
  content: "\e749";
}

.icon-guanli:before {
  content: "\e747";
}

.icon-bumenguanli-bumentubiao:before {
  content: "\e73c";
}

.icon-a-youjiantouhong:before {
  content: "\e6ed";
}

.icon-baojing:before {
  content: "\e6f6";
}

.icon-xialajiantou:before {
  content: "\e6f5";
}

.icon-weixuanzhong:before {
  content: "\e6f4";
}

.icon-shebei-xianxing:before {
  content: "\e6f2";
}

.icon-kucun:before {
  content: "\e6f0";
}

.icon-a-shebei-xianxingxiao:before {
  content: "\e6f7";
}

.icon-rukujilu:before {
  content: "\e6f8";
}

.icon-cangkuguanli:before {
  content: "\e6fa";
}

.icon-a-haocai-xianxingxiao:before {
  content: "\e6fc";
}

.icon-chukujilu:before {
  content: "\e6fe";
}

.icon-a-youjiantoubai:before {
  content: "\e707";
}

.icon-a-shebeixuanzhong:before {
  content: "\e706";
}

.icon-a-shouyeweixuanzhong:before {
  content: "\e705";
}

.icon-a-crmxuanzhong:before {
  content: "\e701";
}

.icon-a-shouyexuanzhong:before {
  content: "\e704";
}

.icon-a-shebeiweixuanzhong:before {
  content: "\e702";
}

.icon-a-crmweixuanzhong:before {
  content: "\e703";
}

.icon-a-gerenzhongxinweixuanzhong:before {
  content: "\e700";
}

.icon-a-gerenzhongxinxuanzhong:before {
  content: "\e6ff";
}

.icon-tianjia:before {
  content: "\e718";
}

.icon-shaixuan:before {
  content: "\e716";
}

.icon-a-tianjiabantouming:before {
  content: "\e717";
}

.icon-rukuchenggong:before {
  content: "\e715";
}

.icon-xuanzeshijian:before {
  content: "\e713";
}

.icon-daishenpi:before {
  content: "\e712";
}

.icon-yituihuo:before {
  content: "\e711";
}

.icon-sousuo:before {
  content: "\e70f";
}

.icon-daitijiao:before {
  content: "\e70b";
}

.icon-daituihuo:before {
  content: "\e70e";
}

.icon-bianji:before {
  content: "\e70d";
}

.icon-yiquxiao:before {
  content: "\e70a";
}

.icon-chukushibai:before {
  content: "\e709";
}

.icon-chukuchenggong:before {
  content: "\e708";
}

.icon-lishishuju:before {
  content: "\e71e";
}

.icon-guanbidanchuang:before {
  content: "\e71b";
}

