@font-face {
  font-family: "iconfont"; /* Project id 4256678 */
  src: url('@/static/iconfont/iconfont.woff2?t=1713400373505') format('woff2'),
       url('@/static/iconfont/iconfont.woff?t=1713400373505') format('woff'),
       url('@/static/iconfont/iconfont.ttf?t=1713400373505') format('truetype'),
       url('@/static/iconfont/iconfont.svg?t=1713400373505#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiebang:before {
  content: "\e79c";
}

.icon-weizhi:before {
  content: "\e79b";
}

.icon-morengouxuan1:before {
  content: "\e79a";
}

.icon-morengouxuan:before {
  content: "\e799";
}

.icon-shouqi1:before {
  content: "\e797";
}

.icon-zhankai1:before {
  content: "\e798";
}

.icon-dianhua1:before {
  content: "\e796";
}

.icon-xiansuochitouxiang1:before {
  content: "\e793";
}

.icon-shangjitouxiang1:before {
  content: "\e794";
}

.icon-xiansuotouxiang1:before {
  content: "\e795";
}

.icon-kehumorentouxiang1:before {
  content: "\e790";
}

.icon-gonghaitouxiang1:before {
  content: "\e792";
}

.icon-tiaojian:before {
  content: "\e78f";
}

.icon-gongneng:before {
  content: "\e791";
}

.icon-dingshi:before {
  content: "\e78d";
}

.icon-shijian:before {
  content: "\e78e";
}

.icon-zhiweiguanli:before {
  content: "\e788";
}

.icon-yuangongguanli:before {
  content: "\e789";
}

.icon-gerenxinxi:before {
  content: "\e78a";
}

.icon-liuchengguanli:before {
  content: "\e78b";
}

.icon-qiyexinxi:before {
  content: "\e78c";
}

.icon-wenjian1:before {
  content: "\e786";
}

.icon-xuanzhongshebeihaocai1:before {
  content: "\e787";
}

.icon-shangchuantouxiang1:before {
  content: "\e783";
}

.icon-qiyemorentupian1:before {
  content: "\e784";
}

.icon-morentouxiang1:before {
  content: "\e785";
}

.icon-kai:before {
  content: "\e781";
}

.icon-guan1:before {
  content: "\e782";
}

.icon-gouxuan1:before {
  content: "\e780";
}

.icon-qiye:before {
  content: "\e77a";
}

.icon-wancheng:before {
  content: "\e77b";
}

.icon-dingshinaozhong:before {
  content: "\e77c";
}

.icon-xuanzeshebei:before {
  content: "\e77d";
}

.icon-yichu1:before {
  content: "\e77e";
}

.icon-zhineng:before {
  content: "\e77f";
}

.icon-xingbiao:before {
  content: "\e779";
}

.icon-qitaliucheng:before {
  content: "\e778";
}

.icon-chaosong:before {
  content: "\e775";
}

.icon-faqi:before {
  content: "\e776";
}

.icon-shenpi:before {
  content: "\e777";
}

.icon-location:before {
  content: "\e772";
}

.icon-delete-solid:before {
  content: "\e773";
}

.icon-circle-plus:before {
  content: "\e774";
}

.icon-s-promotion:before {
  content: "\e764";
}

.icon-s-platform:before {
  content: "\e765";
}

.icon-camera-solid:before {
  content: "\e766";
}

.icon-s-cooperation:before {
  content: "\e767";
}

.icon-warning:before {
  content: "\e768";
}

.icon-s-tools:before {
  content: "\e769";
}

.icon-s-help:before {
  content: "\e76a";
}

.icon-s-data:before {
  content: "\e76b";
}

.icon-phone:before {
  content: "\e76c";
}

.icon-s-claim:before {
  content: "\e76d";
}

.icon-s-check:before {
  content: "\e76e";
}

.icon-s-custom:before {
  content: "\e76f";
}

.icon-s-goods:before {
  content: "\e770";
}

.icon-eleme:before {
  content: "\e771";
}

.icon-wenjian:before {
  content: "\e763";
}

.icon-shangchuantupian:before {
  content: "\e762";
}

.icon-xuanzhongshebeihaocai:before {
  content: "\e760";
}

.icon-danxuan:before {
  content: "\e761";
}

.icon-zuneiyixuan:before {
  content: "\e75f";
}

.icon-shibai:before {
  content: "\e752";
}

.icon-qiehuan:before {
  content: "\e751";
}

.icon-zhihang:before {
  content: "\e75e";
}

.icon-a-zhuanhuanxiansuo:before {
  content: "\e745";
}

.icon-haocaiguanli:before {
  content: "\e75c";
}

.icon-wodegongchang:before {
  content: "\e75d";
}

.icon-haocaifenlei:before {
  content: "\e75b";
}

.icon-zanwujihua:before {
  content: "\e75a";
}

.icon-chenggong:before {
  content: "\e759";
}

.icon-saoma:before {
  content: "\e758";
}

.icon-fanhui:before {
  content: "\e757";
}

.icon-zanwushuju:before {
  content: "\e756";
}

.icon-pandianrenwu:before {
  content: "\e755";
}

.icon-fujian:before {
  content: "\e73a";
}

.icon-zhankai:before {
  content: "\e74f";
}

.icon-shouqi:before {
  content: "\e750";
}

.icon-a-xiaoxixuanzhong:before {
  content: "\e753";
}

.icon-a-xiaoxiweixuanzhong:before {
  content: "\e754";
}

.icon-jinyong:before {
  content: "\e74e";
}

.icon-gongsi:before {
  content: "\e73d";
}

.icon-qiyemorentupian:before {
  content: "\e73e";
}

.icon-xuanzhongqiye:before {
  content: "\e73f";
}

.icon-bumenguanli-fanhuishangji:before {
  content: "\e740";
}

.icon-qiyong:before {
  content: "\e741";
}

.icon-qiehuangongsi:before {
  content: "\e742";
}

.icon-liuchengtubiao:before {
  content: "\e743";
}

.icon-bumenguanli-gongsitubiao:before {
  content: "\e744";
}

.icon-a-chaosongweiwancheng:before {
  content: "\e746";
}

.icon-guanli:before {
  content: "\e747";
}

.icon-tixingbiaozhi:before {
  content: "\e748";
}

.icon-quxiaoliucheng:before {
  content: "\e749";
}

.icon-cachuqianming:before {
  content: "\e74a";
}

.icon-jinru:before {
  content: "\e74b";
}

.icon-weishenpi:before {
  content: "\e74c";
}

.icon-shuzijiajiansanjiao:before {
  content: "\e74d";
}

.icon-bianjiliucheng:before {
  content: "\e739";
}

.icon-shanchuliucheng:before {
  content: "\e73b";
}

.icon-bumenguanli-bumentubiao:before {
  content: "\e73c";
}

.icon-xiansuochitouxiang:before {
  content: "\e732";
}

.icon-lingqu:before {
  content: "\e733";
}

.icon-crmtianjiaguanbi:before {
  content: "\e734";
}

.icon-kehumorentouxiang:before {
  content: "\e735";
}

.icon-huifu:before {
  content: "\e736";
}

.icon-tianxiegenjinhepinglun:before {
  content: "\e737";
}

.icon-dianhua:before {
  content: "\e738";
}

.icon-quxiaoyaoqing:before {
  content: "\e72c";
}

.icon-zhihanggenjin:before {
  content: "\e72d";
}

.icon-yaoqing:before {
  content: "\e72e";
}

.icon-tuihui:before {
  content: "\e72f";
}

.icon-gengduo:before {
  content: "\e730";
}

.icon-gonghaitouxiang:before {
  content: "\e731";
}

.icon-shanchu:before {
  content: "\e729";
}

.icon-xiansuotouxiang:before {
  content: "\e72a";
}

.icon-shangjitouxiang:before {
  content: "\e72b";
}

.icon-kehu:before {
  content: "\e726";
}

.icon-xiansuo:before {
  content: "\e727";
}

.icon-lianxiren:before {
  content: "\e728";
}

.icon-wodeshouquan:before {
  content: "\e71f";
}

.icon-shangji:before {
  content: "\e720";
}

.icon-genjinjihua:before {
  content: "\e721";
}

.icon-gonghaichi:before {
  content: "\e722";
}

.icon-xiansuochi:before {
  content: "\e723";
}

.icon-genjinjilu:before {
  content: "\e724";
}

.icon-xiaoshoushuju:before {
  content: "\e725";
}

.icon-baojingjilu:before {
  content: "\e719";
}

.icon-kaibeifen:before {
  content: "\e71a";
}

.icon-guanbidanchuang:before {
  content: "\e71b";
}

.icon-a-baojingyichuli:before {
  content: "\e71c";
}

.icon-guan:before {
  content: "\e71d";
}

.icon-lishishuju:before {
  content: "\e71e";
}

.icon-daitijiao:before {
  content: "\e70b";
}

.icon-yichu:before {
  content: "\e70c";
}

.icon-bianji:before {
  content: "\e70d";
}

.icon-daituihuo:before {
  content: "\e70e";
}

.icon-sousuo:before {
  content: "\e70f";
}

.icon-jia:before {
  content: "\e710";
}

.icon-yituihuo:before {
  content: "\e711";
}

.icon-daishenpi:before {
  content: "\e712";
}

.icon-xuanzeshijian:before {
  content: "\e713";
}

.icon-jian:before {
  content: "\e714";
}

.icon-rukuchenggong:before {
  content: "\e715";
}

.icon-shaixuan:before {
  content: "\e716";
}

.icon-a-tianjiabantouming:before {
  content: "\e717";
}

.icon-tianjia:before {
  content: "\e718";
}

.icon-chukuchenggong:before {
  content: "\e708";
}

.icon-chukushibai:before {
  content: "\e709";
}

.icon-yiquxiao:before {
  content: "\e70a";
}

.icon-a-gerenzhongxinxuanzhong:before {
  content: "\e6ff";
}

.icon-a-gerenzhongxinweixuanzhong:before {
  content: "\e700";
}

.icon-a-crmxuanzhong:before {
  content: "\e701";
}

.icon-a-shebeiweixuanzhong:before {
  content: "\e702";
}

.icon-a-crmweixuanzhong:before {
  content: "\e703";
}

.icon-a-shouyexuanzhong:before {
  content: "\e704";
}

.icon-a-shouyeweixuanzhong:before {
  content: "\e705";
}

.icon-a-shebeixuanzhong:before {
  content: "\e706";
}

.icon-a-youjiantoubai:before {
  content: "\e707";
}

.icon-chukujilu:before {
  content: "\e6fe";
}

.icon-a-shebei-xianxingxiao:before {
  content: "\e6f7";
}

.icon-rukujilu:before {
  content: "\e6f8";
}

.icon-cangkuguanli:before {
  content: "\e6fa";
}

.icon-a-haocai-xianxingxiao:before {
  content: "\e6fc";
}

.icon-morentouxiang:before {
  content: "\e6f3";
}

.icon-weixuanzhong:before {
  content: "\e6f4";
}

.icon-xialajiantou:before {
  content: "\e6f5";
}

.icon-a-youjiantouhong:before {
  content: "\e6ed";
}

.icon-baojing:before {
  content: "\e6f6";
}

.icon-xiaoxizhongxin:before {
  content: "\e6ee";
}

.icon-gouxuan:before {
  content: "\e6ef";
}

.icon-kucun:before {
  content: "\e6f0";
}

.icon-shangchuantouxiang:before {
  content: "\e6f1";
}

.icon-shebei-xianxing:before {
  content: "\e6f2";
}

