
.container {
	padding: 112rpx 40rpx 0;
	background-color: #fff;
	min-height: 100vh;
	box-sizing: border-box;
}

.page-title {
	color: #333;
	font-size: 48rpx;
	font-weight: bold;
	align-self: flex-start;
}

.page-subtitle {
	color: #333;
	font-size: 36rpx;
	margin-top: 16rpx;
}

.page-main {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page_con {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: #161A26;
	overflow-x: hidden;
}

.left_top {//顶部标题左边样式
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.image {
		width: 60rpx;
		height: 60rpx;
		border-radius: 100%;
		font-size: 60rpx;
	}

	.name_text {
		font-size: 36rpx;
	}
}

.right_top {//顶部标题右边样式
	position: relative;
&.right1{
	margin-right: 40rpx;
}
	.dot {
		position: absolute;
		right: 0;
		top: 0;
		width: 12rpx;
		height: 12rpx;
		background-color: #FF3535;
		border-radius: 50%;
	}
}
.line_title {//前面带有竖线的标题
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 32rpx;
	color: #FFFFFF;
	.line {
		background: linear-gradient(180deg, #FF3535 0%, #FF613D 100%);
		width: 6rpx;
		height: 28rpx;
		position: absolute;
		left: 0;
	}
	.left_text{
		font-weight: bold;
	}
	.right_cont {
		width: 128rpx;
		height: 48rpx;
		line-height: 48rpx;
		background: linear-gradient(180deg, #FF3535 0%, #FF613D 100%);
		font-size: 24rpx;
		border-radius: 6rpx;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.plain{
		width: 150rpx;
		height: 48rpx;
		font-size: 24rpx;
		border-radius: 6rpx;
		display: flex;
		background-color: #1C2232;
		justify-content: center;
		align-items: center;
		.text{
			margin-left: 7rpx;
		}
	}
}
.icon_title{//左边最前面是图标的标题
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	font-size: 36rpx;
	.icon_title_left{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-weight: bold;
		.left_text{
			margin-left: 16rpx;
		}
	}
	.icon_title_right{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: rgba(255, 255, 255, 0.5);
		font-size: 24rpx;
		.right_text{
			margin-right: 10rpx;
		}
	}
}
.empty{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:rgba(255, 255, 255, 0.5);
	font-size: 28rpx;
	.empty_text{
		margin-top: 24rpx;
	}
}
.netWork_con{//扫码配网样式
	margin-top: 20rpx;
	width: 100%;
	height: 96rpx;
	background-color: rgba(28, 34, 50, 1);
	color: #fff;
	border-radius: 10rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	.text{
		margin-left: 20rpx;
	}
}
.select_con{
	background-color: #161A26;
	padding: 30rpx 20rpx 0;
	position: relative;
	border-radius: 0 0 20rpx 20rpx;
	z-index: 99;
	.select_li{
		// height: 140rpx;
		font-size: 32rpx;
		margin-bottom: 40rpx;
		.li_label{
			color: rgba(255, 255, 255, 0.5);
			height: 52rpx;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
	.select_botton_con{
		font-size: 32rpx;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 88rpx;
		.reset{
			text-align: center;
			height: 88rpx;
			width: 50%;
			color: rgba(255, 255, 255, 0.5);
			background: #1C2232;
			line-height: 88rpx;
			border-radius: 0 0 0 20rpx;
		}
		.search{
			text-align: center;
			width: 50%;
			height: 88rpx;
			color: rgba(255, 255, 255, 1);
			background: linear-gradient(180deg, #FF3535 0%, #FF613D 100%);
			line-height: 88rpx;
			border-radius: 0 0 20rpx 0;
		}
	}
	.zhanwei_con{
		width: 100%;
		height: 108rpx;//88+20
		background-color: #161A26;
	}
}
//警告相关的红色box样式
.alarm_cont{
	width: 100%;
	// height: 68rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgba(255, 53, 53, 1);
	background-color: rgba(255, 53, 53, 0.10);
	border: 1rpx solid rgba(255, 53, 53, 1);
	border-radius: 10rpx;
	padding: 16rpx 24rpx;
	box-sizing: border-box;
	&.skeleton_con{
		height: 68rpx;
		background-color: rgba(63, 67, 86, 1);
		border: none;
	}
	.alarm_left{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		.text{
			margin-left: 16rpx;
			line-height: 36rpx;
			font-size: 28rpx;
			.text_bottom{
				margin-top: 4rpx;
				font-size: 24rpx;
				color: rgba(255, 53, 53, 0.5);
				line-height: 32rpx;
			}
		}
	}
	.alarm_right{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.text{
			margin-right: 10rpx;
		}
	}
}
			//警告相关的红色box样式
.form_con {
		padding: 0 40rpx;
		width: 100%;
		box-sizing: border-box;
		&.page_form_con{
			margin-top: 40rpx;
			padding: 0 20rpx;
		}
		&.pages_form{
			padding: 0 20rpx;
			width: 100%;
			box-sizing: border-box;
		}
		.zhece_tips{//注册跳转
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 120rpx;
			font-size: 28rpx;
			color: rgba(255, 255, 255, 0.50);
			.link_re{
				color: rgba(255, 53, 53, 1);
				text-decoration: underline;//文字添加下划线
				margin-left: 8rpx;
			}
		}
		
		.form_li {
			line-height: 88rpx;
			font-size: 32rpx;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			position: relative;
			.select_con{
				position: absolute;
				top: 92rpx;
				left: 0;
				width: 100%;
				padding: 0 30rpx;
				box-sizing: border-box;
				background-color: rgba(28, 34, 50, 1);
			}
			.form_input{
				width: 100%;
				border: 1rpx solid rgba(255, 255, 255, 0.20);
				height: 88rpx;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-radius: 10rpx;
				padding: 0 60rpx 0 30rpx;
				box-sizing: border-box;
				color: rgba(255, 255, 255, 1);
				overflow-x: scroll;
				overflow-y: hidden;
				white-space: nowrap;
				&.placeholder_input{
					color: rgba(255, 255, 255, 0.2);
				}
			}
			.sel_input{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				border-radius: 10rpx;
				border: 1rpx solid rgba(255, 255, 255, 0.2);
				position: relative;
				.sel{
					padding: 0 30rpx;
					
					display: flex;
					justify-content: flex-start;
					align-items: center;
					.sel_text{
						color: rgba(255, 255, 255, 0.5);
						font-size: 32rpx;
						margin-right: 10rpx;
						white-space:nowrap;
						&.pal{
							color: rgba(255, 255, 255, 0.2);
						}
					}
				}
				.sel_list{
					position: absolute;
					top: calc(100% + 1rpx);
					left: 0;
					background-color: rgba(39, 45, 60, 1);
					border-radius: 10rpx;
					z-index: 999;
					max-height: 360rpx;
					overflow-y: scroll;
					.sel_li{
						min-width: 186rpx;
						padding: 22rpx 30rpx;
						box-sizing: border-box;
						height: 72rpx;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						color: rgba(255, 255, 255, 1);
						font-size: 32rpx;
					}
				}
				.sel_line{
					width: 1rpx;
					height: 28rpx;
					background-color: rgba(255, 255, 255, 0.5);
					z-index: 9;
				}
				.input{
					width: 100%;
				}
			}
			&.dis_form_li{
				padding: 0 20rpx;
				box-sizing: border-box;
				background-color: rgba(28, 34, 50, 1);
			}
			.dis_text{
				line-height: 42rpx;
				color: rgba(255, 255, 255, 1);
				&.isPla{
					color: rgba(255, 255, 255, 0.5);
				}
			}
			.li_flex{
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				position: relative;
			}
			&.flexCloun{
				flex-direction: column;
			}
			.user_info{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-top: 20rpx;
				&.disabled_text{
					opacity: 0.5;
					.info_right{
						.user_name{
							color: rgba(255, 255, 255, 0.5);
						}
						.time{
							color: rgba(255, 255, 255, 0.2);
						}
					}
				}
				.avatar{
					width: 68rpx;
					height: 68rpx;
					border-radius: 50%;
					.image{
						width: 68rpx;
						height: 68rpx;
						border-radius: 50%;
					}
				}
				.info_right{
					margin-left: 20rpx;
					.user_name{
						font-size: 32rpx;
						color: rgba(255, 255, 255, 1);
						line-height: 44rpx;
					}
					.time{
						font-size: 24rpx;
						color: rgba(255, 255, 255, 0.5);
						line-height: 36rpx;
					}
				}
			}
			.table_con{
				//表格样式
				width: 100%;
				.table_li{
					width: 100%;
					padding: 30rpx 30rpx 0 30rpx;
					box-sizing: border-box;
					border: 1rpx solid rgba(255, 255, 255, 0.2);
					border-radius: 10rpx;
					margin-bottom: 20rpx;
					position: relative;
				}
				.table_btn{
					display: flex;
					justify-content: center;
					align-items: center;
					border-top: 1rpx solid rgba(255, 255, 255, 0.2);
					.btn_li{
						width: calc(50% - 0.5rpx);
						display: flex;
						justify-content: center;
						align-items: center;
						color: rgba(255, 255, 255, 0.5);
					}
					.btn_line{
						width: 1rpx;
						height: 28rpx;
						background: rgba(255, 255, 255, 0.2);
					}
				}
				.sort_num{
					width: 50rpx;
					height: 40rpx;
					border-radius: 0 10rpx 0 10rpx;
					background-color: #1C2232;
					position: absolute;
					right: 0;
					top: 0;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 40rpx;
					font-size: 26rpx;
				}
			}
			.form_text{
				// margin-top: -22rpx;
				line-height: 58rpx;
				color: rgba(255, 255, 255, 0.2);
				font-size: 32rpx;
				display: inline-flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: initial;
				word-wrap: break-word;
				word-break: keep-all;
				white-space: pre-wrap;
				width: 100%;
				&.dis_text{
					span{
						width:100%;
					}
				}
				span{
					width:100%;
					word-wrap: break-word;
					word-break: break-all;
				}
			}
			.image_con{
				display: flex;
				width: 100%;
				justify-content: flex-start;
				flex-wrap: wrap;
				align-items: flex-start;
				.image_li{
					width: 160rpx;
					height: 160rpx;
					border-radius: 10rpx;
					background-color: rgba(22, 26, 38, 1);
					border: 1rpx solid rgba(255, 255, 255, 0.20);
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					margin-right: 20rpx;
					margin-top: 20rpx;
					.image{
						width: 160rpx;
						height: 160rpx;
					}
					.image_icon{
						width: 60rpx;
						height: 60rpx;
					}
					.del_icon{
						position: absolute;
						right: -15rpx;
						top: -15rpx;
						width: 30rpx;
						height: 30rpx;
						line-height: 30rpx;
						border: 1rpx solid rgba(255, 255, 255, 0.20);
						border-radius: 50%;
						background-color: rgba(28, 34, 50, 1);
						.icons_del{
							width: 30rpx;
							height: 30rpx;
						}
					}
				}
				.image_li:nth-child(1),.image_li:nth-child(2),.image_li:nth-child(3),.image_li:nth-child(4){
					margin-top: 0;
				}
				.image_li:nth-child(4n){
					margin-right: 0;
				}
			}
			.file_con{
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-wrap: wrap;
				.file_li{
					display: flex;
					justify-content: flex-start;
					align-items: center;
					width: 230rpx;
					height: 72rpx;
					border-radius: 10rpx;
					padding: 20rpx;
					box-sizing: border-box;
					border: 1rpx solid rgba(255, 255, 255, 0.20);
					position: relative;
					margin-right: 10rpx;
					margin-top: 20rpx;
					.file_icon{
						width: 32rpx;
						height: 32rpx;
					}
					.file_name{
						font-size: 32rpx;
						margin-left: 16rpx;
						width: calc(100% - 16rpx - 32rpx);
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						color: rgba(255, 255, 255, 1);
						&.pal{
							color: rgba(255, 255, 255, 0.2);
							// overflow:auto;
							text-overflow: inherit;
						}
					}
					.del_icon{
						position: absolute;
						right: -15rpx;
						top: -15rpx;
						width: 30rpx;
						height: 30rpx;
						line-height: 30rpx;
						border: 1rpx solid rgba(255, 255, 255, 0.20);
						border-radius: 50%;
						background-color: rgba(28, 34, 50, 1);
						.icons_del{
							width: 30rpx;
							height: 30rpx;
						}
					}
				}
				.file_li:nth-child(3n){
					margin-right: 0;
				}
				.file_li:nth-child(1),.file_li:nth-child(2),.file_li:nth-child(3){
					margin-top: 0;
				}
			}
			.form_device_add{
				width: 100%;
				height: 88rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				color: rgba(255, 255, 255, 0.5);
				background-color: rgba(28, 34, 50, 1);
				border-radius: 10rpx;
				.text{
					margin-left: 10rpx;
				}
			}
			.form_device_list{
				width: 100%;
				
				.form_device_li{
					padding: 26rpx 30rpx;
					width: 100%;
					box-sizing: border-box;
					background-color: rgba(28, 34, 50, 1);
					margin-bottom: 20rpx;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					line-height: 0%;
					position: relative;
					.li_left{
						.image{
							width: 66rpx;
							height: 66rpx;
						}
					}
					.li_right{
						margin-left: 20rpx;
						.name{
							font-size: 28rpx;
							line-height: 36rpx;
							color: rgba(255, 255, 255, 1);
						}
						.number{
							font-size: 24rpx;
							line-height: 32rpx;
							color: rgba(255, 255, 255, 0.5);
						}
						.price_quantity{
							display: flex;
							justify-content: flex-start;
							align-items: center;
							margin-top: 14rpx;
							.input_li{
								display: flex;
								justify-content: flex-start;
								align-items: center;
								color: rgba(255, 255, 255, 0.5);
								font-size: 24rpx;
								
								.label{
									margin-right: 10rpx;
								}
								&.mar_input{
									margin-right: 10rpx;
								}
							}
						}
					}
					.del_icon{
						position: absolute;
						right: -15rpx;
						top: -15rpx;
						width: 30rpx;
						height: 30rpx;
						line-height: 30rpx;
						border: 1rpx solid rgba(255, 255, 255, 0.20);
						border-radius: 50%;
						background-color: rgba(28, 34, 50, 1);
						.icons_del{
							width: 30rpx;
							height: 30rpx;
						}
					}
				}
			}
			.tips_text{
				color: rgba(255, 255, 255, 0.2);
				line-height: 36rpx;
				font-size: 28rpx;
				margin-top: 20rpx;
			}
			.view_input{
				width: 100%;
				height: 88rpx;
				background-color: rgba(22, 26, 38, 1);
				border-radius: 10rpx;
				border: 1rpx solid rgba(255, 255, 255, 0.20);
				color: #FFFFFF;
				font-size: 28rpx;
				padding: 10rpx 0;
				box-sizing: border-box;
				position: relative;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				overflow: hidden;
				.view_mask{
					position: absolute;
					right: 0;
					top: 0;
					width: 92rpx;
					height: 88rpx;
					background-color: rgba(22, 26, 38, 1);
					// z-index: 1;
				}
				.view_li_con{
					width: calc(100% - 92rpx);
					height: 68rpx;
					overflow: hidden;
					&.personnel_li_con{
						overflow-x: scroll;
						line-height: 68rpx;
					}
				}
				.view_li_cot{
					display: flex;
					justify-content: flex-start;
					align-items: center;
					width: auto;
					position: absolute;
					// position: relative;
					&.personnel_li_cot{
						overflow-x: scroll;
						position: relative;
					}
				}
				.shenglue_li::before {
					content: "...";
					position: absolute;
					bottom: 0;
					right: 63rpx;
					padding-left: 10px;
					z-index: 2;
				}
				.pal_col{
					color: rgba(255, 255, 255, 0.20);
					font-size: 32rpx;
					padding-left: 20rpx;
					box-sizing: border-box;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}
				.view_li{
					display: flex;
					justify-content: flex-start;
					padding: 20rpx 30rpx 20rpx 20rpx;
					background-color: rgba(28, 34, 50, 1);
					line-height: 28rpx;
					margin-left: 10rpx;
					white-space: nowrap;
					.view_icon{
						margin-left: 10rpx;
					}
					&.disabled_text{
						color: rgba(255, 255, 255, 0.50);
					}
				}
				.form_sel_icon{
					top: 0;
				}
			}
			.code_con_left {
				width: calc(100% - 20rpx - 224rpx);
				margin-right: 20rpx;
			}

			.code_con_right {
				border: 1rpx solid #fff;
				width: 224rpx;
				height: 88rpx;

				.code_img {
					width: 224rpx;
					height: 88rpx;
				}
			}
			.form_sel_icon{
				position: absolute;
				right: 2rpx;
				top: center;
				width: 60rpx;
				height: 84rpx;
				background-color: #161A26;
				border-radius: 0 10rpx 10rpx 0;
				display: flex;
				justify-content: center;
				align-items: center;
				&.xuanzhuan_top{
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					transition: transform ease 0.5s;
				}
			}
			.sel_label{
				width: calc(50% - 10rpx);
				color: rgba(255, 255, 255, 0.5);
				height: 88rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1rpx solid rgba(255, 255, 255, 0.2);
				border-radius: 10rpx;
				&.active{
					color: rgba(255, 53, 53, 1);
					border-color: rgba(255, 53, 53, 1);
				}
			}
			.li_input{
				width: 100%;
				height: 88rpx;
				color: rgba(255, 255, 255, 1);
				border: 1rpx solid rgba(255, 255, 255, 0.20);
				border-radius: 10rpx;
				padding-left: 30rpx;
				box-sizing: border-box;
			}
			.num_cli{
				position: absolute;
				right: 2rpx;
				top: 1rpx;
				width: 72rpx;
				height: 84rpx;
				border-radius: 0 10rpx 10rpx 0;
				background: url('@/static/images/input_cli.png') no-repeat center;
				background-size: cover;
				-webkit-background-size: cover;
				-o-background-size: cover;
				background-position: center 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;
				line-height: 42rpx;
				.cli_up{
					width: 100%;
					height: 42rpx;
					display: flex;
					justify-content: center;
					align-items: center;
					line-height: 42rpx;
					&.rotate-180{
						transform: rotate(180deg);
					}
				}
			}
			.radio_list{
				color: #FFFFFF;
				.radio_li{
					display: flex;
					justify-content: flex-start;
					align-items: center;
					line-height: 32rpx;
					padding: 20rpx 0;
					.radio_icon{
						width: 32rpx;
						height: 32rpx;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 16rpx;
					}
				}
				.radio_li:first-child{
					padding-top: 0;
				}
			}
			.int_date {
				width: 100%;
			
				.long_date {
					width: 100%;
			
					.date {
						width: 100%;
			
						.date_slot {
							padding: 30rpx;
							box-sizing: border-box;
							width: 100%;
							justify-content: flex-start;
							display: flex;
							align-items: center;
							font-size: 32rpx;
							.text{
								margin-left: 20rpx;
							}
						}
					}
				}
			}
		}

		.remenber {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-bottom: 100rpx;

			.left {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				.icon {
					width: 32rpx;
					height: 32rpx;
					margin-right: 16rpx;
				}

				.txt {
					color: rgba(255, 255, 255, 0.5);
					font-size: 28rpx;
				}
			}
		}
		
	}
	.jump_con{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background: rgba(28, 34, 50, 1);
		height: 88rpx;
		font-size: 32rpx;
		color: rgba(255, 255, 255, 0.5);
		border-radius: 10rpx;
		margin-top: 40rpx;
		.text{
			margin-right: 10rpx;
		}
	}
	.submit_button {
		background: linear-gradient(180deg, #FF3535 0%, #FF613D 100%);
		width: 100%;
		height: 100rpx;
		border-radius: 10rpx;
		color: #fff;
		text-align: center;
		line-height: 100rpx;
		font-size: 36rpx;
		font-weight: bold;
		&.yellow_btn{
			background: linear-gradient(180deg, #EFA902 0%, #F4BE3F 100%);
			margin-bottom: 30rpx;
		}
	}
	.logo_con {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: calc(env(safe-area-inset-bottom) + 162rpx);
		margin-bottom: 120rpx;
	
		.logo {
			width: 512rpx;
			height: 140rpx;
		}
	}
	//注册页面样式
	.register_con{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding: 0 40rpx;
		box-sizing: border-box;
		.title_text{
			color: #fff;
			font-size: 48rpx;
			margin-top: 68rpx;
		}
		.text_tips{
			line-height: 56rpx;
			font-size: 32rpx;
			margin-top: 28rpx;
			color: rgba(255, 255, 255, 0.5);
			text-align: center;
		}
		.input_li{
			width: 100%;
			border: 1rpx solid rgba(255, 255, 255, 0.2);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			border-radius: 10rpx;
			margin-top: 28rpx;
			.li_label{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 151rpx;
				color:rgba(255, 255, 255, 0.5) ;
				.label_icon{
					margin-left: 10rpx;
				}
			}
			.line{
				width: 1rpx;
				height: 28rpx;
				background-color: rgba(255, 255, 255, 0.2);
			}
			.input_con{
				width: calc(100% - 152rpx);
			}
			&.noborder{
				border: none;
			}
		}
		.remenber {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			margin-top: 40rpx;
		
			.left {
				display: flex;
				align-items: center;
				justify-content: flex-start;
		
				.icon {
					width: 32rpx;
					height: 32rpx;
					margin-right: 16rpx;
				}
		
				.txt {
					color: rgba(255, 255, 255, 0.5);
					font-size: 28rpx;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					.red{
						color: rgba(255, 53, 53, 1);
						margin-left: 9rpx;
					}
				}
			}
		}
		.submit_button {
			margin-top: 100rpx;
		}
		.qiehuan{
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgba(255, 255, 255, 0.5);
			font-size: 32rpx;
			height: 32rpx;
			margin-top: 260rpx;
			.qiehuan_text{
				// border-bottom: 1rpx solid rgba(255, 255, 255, 0.5);
				height: 32rpx;
				line-height: 32rpx;
				box-sizing: border-box;
				text-decoration: underline;
			}
			.qiehuan_icon{
				margin-left: 6rpx;
			}
		}
		.register_form_con{
			width: 100%;
			.submit_button{
				margin-top: 60rpx;
			}
		}
		.logo_con{
			margin-bottom: 100rpx;
		}
	}
	
	.jump_button{
		width: 100%;
		background-color: rgba(28, 34, 50, 1);
		color: #fff;
		margin-top: 30rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 36rpx;
		height: 100rpx;
		.iconfont{
			margin-left: 10rpx;
		}
		&.botton_mar{
			margin-top: 0;
			margin-bottom: 30rpx;
			color: rgba(255, 255, 255, 0.2);
		}
	}
	.delete_button{
		width: 100%;
		background-color: rgba(28, 34, 50, 1);
		color: #fff;
		margin-top: 30rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 36rpx;
		height: 100rpx;
		.iconfont{
			margin-left: 10rpx;
		}
		&.botton_mar{
			margin-top: 0;
			margin-bottom: 30rpx;
			color: rgba(255, 255, 255, 0.2);
		}
	}
	.notice_con {
		width: 100vw;
		padding: 0 50rpx;
		box-sizing: border-box;
	
		.notice_cont {
			position: relative;
			width: 100%;
			padding: 30rpx;
			box-sizing: border-box;
			background-color: rgba(22, 26, 38, 1);
			border-radius: 10rpx;
			.title{
				font-size: 36rpx;
				color: #FFFFFF;
				font-weight: bold;
				width: 100%;
				text-align: center;
			}
			.content{
				font-size: 32rpx;
				line-height: 50rpx;
				margin-top: 26rpx;
				color: rgba(255, 255, 255, 0.5);
				margin-bottom: 76rpx;
				word-wrap: break-word;
				text-align: center;
				&.cusConten{
					margin-bottom: 26rpx;
				}
				.red_text{
					color: rgba(255, 53, 53, 1);
					margin: 0 8rpx;
				}
			}
			.flex_content{
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
			}
			.title_content{
				font-size: 32rpx;
				text-align: left;
				color: rgba(255, 255, 255, 1);
				line-height: 50rpx;
				margin-top: 26rpx;
				&.label{
					margin-top: 0;
					color: rgba(255, 255, 255, 0.5);
					margin-bottom: 16rpx;
				}
			}
			.title_content2{
				font-size: 28rpx;
				text-align: left;
				color: rgba(255, 255, 255, 0.5);
				line-height: 44rpx;
				margin-top: 8rpx;
			}
			.conten_icon_con{
				padding: 32rpx 0;
				.conten_icon{
					width: 84rpx;
					height: 44rpx;
				}
				.radio_icon{
					width: 32rpx;
					height: 32rpx;
				}
			}
			.input_con{
				margin-bottom: 40rpx;
			}
			.img_con{
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 88rpx;
				.code_img{
					width: 458rpx;
					height: 180rpx;
				}
			}
			.close_icon{
				position: absolute;
				right: 20rpx;
				top: 20rpx;
			}
		}
	}
	.int_date {
		// margin-top: 30rpx;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	
		.date_con {
			width: 345rpx;
			height: 88rpx;
			line-height: 88rpx;
			border-radius: 6rpx;
			// border: 1rpx solid #EAEAEA;
			background-color: rgba(22, 26, 38, 1);
	
			.date {
				width: 345rpx;
				text-align: center;
			}
	
			.date_slot {
				width: 345rpx;
				height: 88rpx;
				border: 1rpx solid rgba(255, 255, 255, 0.2);
				border-radius: 6rpx;
				display: flex;
				justify-content: space-around;
				align-items: center;
				color: #999999;
				font-size: 28rpx;
				box-sizing: border-box;
				color: rgba(255, 255, 255, 0.2);
				.icons_con{
					width: 36rpx;
					height: 36rpx;
				}
				.icon_date {
					width: 28rpx;
					height: 28rpx;
				}
	
				&.has_val {
					color: #fff;
				}
				&.disabled_text{
					color: rgba(255, 255, 255, 0.5);
				}
			}
	
	
		}
	
		.row_line {
			width: 10rpx;
			height: 2rpx;
			border-radius: 1rpx;
			background-color: rgba(255, 255, 255, 0.2);
			margin: 0 5rpx;
		}
		.long_date{
			width: 100%;
			.date{
				width: 100%;
				.date_slot{
					padding: 30rpx;
					box-sizing: border-box;
					width: 100%;
					justify-content: space-between;
					font-size: 32rpx;
				}
			}
		}
	}
	
	//警告相关的红色box样式
	.alarm_list_con {
		width: 100%;
	
		.alarm_li {
			padding: 30rpx;
			color: #fff;
			margin-top: 20rpx;
			background-color: rgba(28, 34, 50, 1);
	
			.alarm_name {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				line-height: 44rpx;
				font-size: 32rpx;
	
				.dot {
					width: 12rpx;
					height: 12rpx;
					background-color: #FF3535;
					border-radius: 7rpx;
					margin-right: 10rpx;
				}
			}
	
			.time_level {
				display: flex;
				justify-content: space-between;
				align-items: center;
				line-height: 32rpx;
				font-size: 24rpx;
				color: rgba(255, 255, 255, 0.5);
				margin-top: 7rpx;
				padding-left: 22rpx;
			}
	
			.alarm_device {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				padding: 24rpx;
				box-sizing: border-box;
				border: 1rpx solid rgba(255, 255, 255, 0.20);
				border-radius: 10rpx;
				margin-top: 16rpx;
	
				.device_left {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 66rpx;
					height: 66rpx;
					margin-right: 20rpx;
	
					.images {
						width: 66rpx;
						height: 66rpx;
						background: #fff;
					}
				}
	
				.device_right {
					.device_name {
						font-size: 28rpx;
						line-height: 40rpx;
					}
	
					.device_num {
						color: rgba(255, 255, 255, 0.5);
						line-height: 32rpx;
						font-size: 24rpx;
						margin-top: 5rpx;
					}
				}
			}
	
			.alarm_content {
				width: 100%;
				line-height: 48rpx;
				padding: 8rpx 20rpx;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				margin-top: 20rpx;
				background: rgba(255, 53, 53, 0.10);
				border: 1rpx solid rgba(255, 53, 53, 1);
				border-radius: 10rpx;
				box-sizing: border-box;
				font-size: 28rpx;
				color: rgba(255, 53, 53, 1);
	
				&.ordinary_ararm {
					color: rgba(255, 255, 255, 0.5);
					border: 1rpx solid rgba(255, 255, 255, 0.2);
					background: rgba(28, 34, 50, 1);
				}
	
				.cont_icons {
					width: 32rpx;
					height: 28rpx;
					margin-right: 20rpx;
					display: flex;
					justify-content: center;
					align-items: center;
				}
	
				.content {
					width: calc(100% - 32rpx - 20rpx);
					word-wrap: break-word;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					line-height: 48rpx;
					// height: 50px;
				}
				.detail_content{
					width: calc(100% - 32rpx - 20rpx);
					word-wrap: break-word;
				}
			}
		}
	}
	
	//告警列表相关样式
	// 详情相关样式
	.detail_con {
		width: 100%;
		padding: 0 20rpx;
		box-sizing: border-box;
		padding-bottom: 50rpx;
		.detail_status{
			padding: 40rpx 0 20rpx 0;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			.status_text{
				margin-left: 16rpx;
				font-size: 36rpx;
				color: rgba(255, 255, 255, 1);
			}
		}
	}
	.basic_info_list{
		width: 100%;
		position: relative;
		padding: 0 30rpx;
		box-sizing: border-box;
		background-color: rgba(28, 34, 50, 1);
		margin-top: 20rpx;
		border-radius: 10rpx;
		.line_title{
			height: 92rpx;
		}
		.agent_info{
			color: rgba(255, 255, 255, 1);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.image{
				width: 140rpx;
				height: 140rpx;
				background-color: rgba(255, 255, 255, 1);
				border-radius: 10rpx;
				margin-top: -70rpx;
			}
			.name{
				font-size: 36rpx;
				line-height: 50rpx;
				margin-top: 23rpx;
			}
			.id{
				font-size: 28rpx;
				color: rgba(255, 255, 255, 0.5);
				line-height: 40rpx;
				margin-top: 7rpx;
				margin-bottom: 14rpx;
			}
		}
		.basic_info_li{
			padding: 24rpx 0;
			border-top: 1rpx solid rgba(255, 255, 255, 0.2);
			.li_label{
				color: rgba(255, 255, 255, 0.5);
				font-size: 28rpx;
				line-height: 40rpx;
			}
			.url_jump{
				color: rgba(255, 53, 53, 1);
				text-decoration: underline;//文字添加下划线
				font-size: 28rpx;
			}
			.li_val{
				color: rgba(255, 255, 255, 1);
				font-size: 32rpx;
				margin-top: 8rpx;
				line-height: 44rpx;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				word-break: break-all;
				.icon_avatar{
					width: 60rpx;
					height: 60rpx;
					border-radius: 50%;
					margin-right: 20rpx;
					border: 1rpx solid rgba(255, 255, 255, 0.1);
					.image{
						width: 60rpx;
						height: 60rpx;
						border-radius: 50%;
					}
				}
			}
		}
		.li_pro_con{
			padding: 20rpx 0;
			&.first_con{
				padding-top: 0;
			}
		}
		.li_pro {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 18rpx 24rpx;
			width: 100%;
			box-sizing: border-box;
			border: 1rpx solid rgba(255, 255, 255, 0.20);
			border-radius: 10rpx;
			// margin: 20rpx 0;
		
			.pro_left {
				width: 66rpx;
				height: 66rpx;
				margin-right: 20rpx;
		
				.image {
					width: 66rpx;
					height: 66rpx;
				}
			}
		
			.pro_right {
				width: calc(100% - 86rpx);
		
				.pro_title {
					font-size: 28rpx;
					line-height: 40rpx;
					color: #fff;
				}
		
				.pro_num_price {
					font-size: 24rpx;
					margin-top: 2rpx;
					line-height: 36rpx;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					color: rgba(255, 255, 255, 0.50);
		
					.text1 {
						width: 60%;
					}
		
					.text2 {
						width: 40%;
					}
				}
		
			}
		}
	}
	// 详情相关样式
	//两个按钮并排的样式
	.btn_con{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 60rpx;
		.jump_button{
			margin-top: 0;
			width: calc(50% - 10rpx);
			margin-right: 20rpx;
		}
		uni-button[disabled].jump_button{
			background-color: rgba(28, 34, 50, 1);
			color: rgba(255, 255, 255, 0.5);
		}
		.submit_button{
			margin-top: 0;
			width: calc(50% - 10rpx);
		}
	}
	.sub_save_con{
		display: flex;
		justify-content: space-between;
		align-items: center;
		// margin-top: 60rpx;
		
		
		.jump_button{
			margin-top: 0;
			width: calc(50% - 10rpx);
			background: linear-gradient(180deg, #EFA902 0%, #F4BE3F 100%);
		}
		uni-button[disabled].jump_button{
			background-color: rgba(28, 34, 50, 1);
			color: rgba(255, 255, 255, 0.5);
		}
		.submit_button{
			margin-top: 0;
			width: calc(50% - 10rpx);
			margin-right: 20rpx;
		}
		&.has_btn{
			.delete_button{
				margin-top: 0;
				width: calc(33.3% - 14rpx);
				margin-right: 20rpx;
			}
			.submit_button{
				width: calc(33.3% - 14rpx);
				margin-right: 20rpx;
			}
			.jump_button{
				width: calc(33.3% - 14rpx);
			}
		}
	}
	//两个按钮并排的样式
	//设备列表样式
	.device_list_con {
		width: 100%;
		padding: 0 20rpx;
		box-sizing: border-box;
		background-color: rgba(22, 26, 38, 1);
	
		.device_list {
			width: 100%;
	
			.list_li {
				width: 100%;
				padding: 20rpx 30rpx 30rpx;
				box-sizing: border-box;
				display: flex;
				justify-content: flex-start;
				background-color: rgba(28, 34, 50, 1);
				margin-top: 20rpx;
				border-radius: 10rpx;
				position: relative;
	
				.li_left {
					padding-top: 10rpx;
					margin-right: 30rpx;
	
					.image {
						width: 120rpx;
						height: 120rpx;
					}
				}
	
				.li_right {
					color: #fff;
					width: calc(100% - 150rpx);
					.dev_name {
						line-height: 56rpx;
						font-size: 32rpx;
					}
	
					.group {
						margin-top: 2rpx;
						line-height: 48rpx;
						font-size: 28rpx;
						color: rgba(255, 255, 255, 0.5);
						display: flex;
						justify-content: flex-start;
						align-items: center;
						&.space_flex{
							justify-content: space-between;
							width: 100%;
						}
						.text{
							margin-right: 20rpx;
						}
						.locked{
							width: 80rpx;
							height: 28rpx;
							font-size: 20rpx;
							color: rgba(255, 53, 53, 1);
							border-radius: 4rpx;
							display: flex;
							justify-content: center;
							align-items: center;
							border: 1rpx solid rgba(255, 53, 53, 1);
							margin-right: 10rpx;
						}
					}
	
					.device_state {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 10rpx;
						height: 28rpx;
	
						.online_status {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							font-size: 24rpx;
	
							.dot {
								width: 12rpx;
								height: 12rpx;
								border-radius: 7rpx;
								background-color: rgba(239, 169, 2, 1);
								margin-right: 10rpx;
							}
						}
	
						.online_status.offline {
							color: rgba(255, 255, 255, 0.5);
	
							.dot {
								background-color: rgba(255, 255, 255, 1);
							}
						}
	
						.online_status.unKnow {
							color: rgba(255, 255, 255, 0.2);
	
							.dot {
								background-color: rgba(99, 101, 122, 1);
							}
						}
	
						.alarm_status {}
					}
				}
				.select_icon{
					width: 50rpx;
					height: 50rpx;
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}
		.submit_button{
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 98rpx;
			border-radius: 0;
		}
	}
	//设备列表样式
	// 流程的样式
	.flow_con{
		width: 100%;
		padding: 0 20rpx;
		box-sizing: border-box;
		margin-top: 40rpx;
		.title{
			font-size: 32rpx;
			color: rgba(255, 255, 255, 0.5);
			margin-bottom: 30rpx;
		}
		.flow_li{
			width: calc(100% - 18rpx);
			padding: 0 0 40rpx;
			box-sizing: border-box;
			border-left: 4rpx solid rgba(60, 63, 80, 1);
			padding-left: 36rpx;
			position: relative;
			margin-left: 18rpx;
			&.noborder{
				border-left: none;
			}
			.dot{
				width: 36rpx;
				height: 36rpx;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: -18rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				background: rgba(60, 63, 80, 1);
				line-height: 36rpx;
				&.finish{
					background: linear-gradient(180deg, #FF3535 0%, #FF613D 100%);
				}
			}
			.name{
				font-size: 28rpx;
				color: rgba(255, 255, 255, 0.5);
				line-height: 28rpx;
				// padding-top: 4rpx;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				.tips{
					color: rgba(255, 255, 255, 0.5);
					padding: 6rpx 8rpx;
					border: 1rpx solid rgba(255, 255, 255, 0.2);
					margin-left: 20rpx;
					font-size: 20rpx;
					line-height: 20rpx;
				}
			}
			.user_info_icon{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 20rpx;
				.type_text{
					color: rgba(239, 169, 2, 1);
					border: 1rpx solid rgba(239, 169, 2, 1);
					border-radius: 4rpx;
					font-size: 24rpx;
					line-height: 24rpx;
					padding: 6rpx 10rpx;
					&.rej{
						color: #FF3535;
						border: 1rpx solid #FF3535;
						background-color: rgba(255, 53, 53, 0.10);
					}
				}
			}
			.sign{
				width: 100%;
				height: 88rpx;
				padding: 30rpx;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				background-color: rgba(28, 34, 50, 1);
				border-radius: 10rpx;
				color: rgba(255, 255, 255, 0.5);
				margin-top: 20rpx;
				.image{
					width: 190rpx;
					height: 40rpx;
					background-color: rgba(255, 255, 255, 1);
					margin-left: 20rpx;
				}
			}
			.user_info{
				display: flex;
				justify-content: flex-start;
				align-items: center;
				
				.avatar{
					width: 68rpx;
					height: 68rpx;
					border-radius: 50%;
					.image{
						width: 68rpx;
						height: 68rpx;
						border-radius: 50%;
					}
				}
				.info_right{
					margin-left: 20rpx;
					.user_name{
						font-size: 32rpx;
						color: rgba(255, 255, 255, 1);
						line-height: 44rpx;
					}
					.time{
						font-size: 24rpx;
						color: rgba(255, 255, 255, 0.5);
						line-height: 36rpx;
					}
				}
			}
			.add_icon{
				width: 68rpx;
				height: 68rpx;
				border-radius: 50%;
				background-color: rgba(28, 34, 50, 1);
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 20rpx;
			}
		}
	}
	//出入库列表的样式
	.records_list {
		width: 100%;
		padding: 0 20rpx;
		box-sizing: border-box;
	
		.records_li {
			margin-top: 20rpx;
			background-color: rgba(28, 34, 50, 1);
			padding: 30rpx 30rpx 24rpx 30rpx;
			color: rgba(255, 255, 255, 1);
	
			.li_title {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				font-size: 24rpx;
				height: 32rpx;
	
				.tit_text {
					font-size: 32rpx;
	
				}
	
				.pro_tips {
					display: flex;
					justify-content: flex-end;
					align-items: flex-end;
					color: rgba(255, 255, 255, 0.5);
					height: 24rpx;
	
					.text {
						margin-right: 10rpx;
					}
				}
			}
	
			.li_pro {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding: 18rpx 24rpx;
				width: 100%;
				box-sizing: border-box;
				border: 1rpx solid rgba(255, 255, 255, 0.20);
				border-radius: 10rpx;
				// margin: 20rpx 0;
				margin-top: 20rpx;
	
				.pro_left {
					width: 66rpx;
					height: 66rpx;
					margin-right: 20rpx;
	
					.image {
						width: 66rpx;
						height: 66rpx;
					}
				}
	
				.pro_right {
					width: calc(100% - 86rpx);
	
					.pro_title {
						font-size: 28rpx;
						line-height: 40rpx;
					}
	
					.pro_num_price {
						font-size: 24rpx;
						margin-top: 2rpx;
						line-height: 36rpx;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						color: rgba(255, 255, 255, 0.50);
	
						.text1 {
							width: 60%;
						}
	
						.text2 {
							width: 40%;
						}
					}
	
				}
			}
	
			.li_bottom {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 28rpx;
				margin-top: 20rpx;
	
				.records_num {
					color: rgba(255, 255, 255, 0.5);
					font-size: 28rpx;
				}
	
				.type_status {
					padding: 4rpx 8rpx;
					font-size: 20rpx;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1rpx solid;
					line-height: 20rpx;
					border-radius: 4rpx;
	
					&.pend_sbmit {
						border-color: rgba(255, 255, 255, 0.50);
						color: rgba(255, 255, 255, 0.50);
					}
					&.pend_approval{
						border-color: rgba(239, 169, 2, 1);
						color: rgba(239, 169, 2, 1);
					}
					&.success{
						border-color: rgba(52, 182, 97, 1);
						color: rgba(52, 182, 97, 1);
					}
					&.be_return{
						border-color: rgba(255, 53, 53, 1);
						color: rgba(255, 53, 53, 1);
					}
					&.return{
						border-color: rgba(255, 255, 255, 0.2);
						color: rgba(255, 255, 255, 0.2);
					}
				}
			}
		}
	}
	//出入库列表的样式
	.agent_con {
		padding: 0 20rpx;
		width: 100%;
		box-sizing: border-box;
	
		.agent_list {
			width: 100%;
	
			.agent_li {
				width: 100%;
				padding: 24rpx 30rpx;
				box-sizing: border-box;
				border-radius: 10rpx;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				background-color: rgba(28, 34, 50, 1);
				margin-top: 20rpx;
				position: relative;
				.tips{
					padding: 5rpx 8rpx;
					font-size: 20rpx;
					color: #fff;
					border-radius: 0 10rpx 0 10rpx;
					position: absolute;
					right: 0;
					top: 0;
					line-height: 20rpx;
					&.daili{
						background: linear-gradient(180deg, #FF3535 0%, #FF613D 100%);
					}
					&.zhixiao{
						background: linear-gradient(180deg, #EFA902 0%, #F4BE3F 100%);
					}
				}
	
				.li_left {
					padding-top: 6rpx;
					margin-right: 20rpx;
					width: 76rpx;
					height: 76rpx;
					border-radius: 10rpx;
	
					.image {
						width: 76rpx;
						height: 76rpx;
						border-radius: 10rpx;
					}
				}
	
				.li_right {
					width: calc(100% - 96rpx);
	
					.right_li {
						font-size: 28rpx;
						line-height: 40rpx;
						color: rgba(255, 255, 255, 0.5);
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						width: 100%;
	
						&.first {
							line-height: 44rpx;
							color: #fff;
							font-size: 32rpx;
							margin-bottom: 4rpx;
						}
					}
				}
			}
		}
	}
	