@font-face {
  font-family: "my-icon"; /* Project id 3374518 */
  src: url('iconfont.woff2?t=1668482098201') format('woff2'),
       url('iconfont.woff?t=1668482098201') format('woff'),
       url('iconfont.ttf?t=1668482098201') format('truetype');
}

.my-icon {
  font-family: "my-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-jinruxiaji:before {
  content: "\e605";
}

.my-icon-shangjiantou:before {
  content: "\e603";
}

.my-icon-xiajiantou:before {
  content: "\e604";
}

.my-icon-zihao:before {
  content: "\e62e";
}

.my-icon-zuoduiqi:before {
  content: "\e63b";
}

.my-icon-a-jiacu105334:before {
  content: "\e63c";
}

.my-icon-youduiqi:before {
  content: "\e63d";
}

.my-icon-a-hangjianju105334:before {
  content: "\e63e";
}

.my-icon-juzhongduiqi:before {
  content: "\e63f";
}

.my-icon-a-zitiyanse105334:before {
  content: "\e640";
}

.my-icon-yaoqingyuangong:before {
  content: "\e73d";
}

.my-icon-weixin:before {
  content: "\e630";
}

.my-icon-xiangji:before {
  content: "\e8c7";
}

.my-icon-a-huabanbeifen5:before {
  content: "\e637";
}

.my-icon-huaban:before {
  content: "\e638";
}

.my-icon-huabanbeifen:before {
  content: "\e639";
}

.my-icon-a-huabanbeifen4:before {
  content: "\e63a";
}

.my-icon-shipin:before {
  content: "\e62f";
}

.my-icon-KHCFDC_tupian:before {
  content: "\e634";
}

.my-icon-wenzi:before {
  content: "\e636";
}

.my-icon-qiehuan:before {
  content: "\e635";
}

.my-icon-shouji:before {
  content: "\e8b9";
}

.my-icon-bianzu:before {
  content: "\e62d";
}

.my-icon-gerenzhongxin-1:before {
  content: "\e61d";
}

.my-icon-icon_add:before {
  content: "\e61e";
}

.my-icon-gerenzhongxin1:before {
  content: "\e61f";
}

.my-icon-mingpianzhongxin:before {
  content: "\e620";
}

.my-icon-icon_close:before {
  content: "\e622";
}

.my-icon-icon_choose_n:before {
  content: "\e623";
}

.my-icon-icon_choose_s:before {
  content: "\e624";
}

.my-icon-icon_bphone:before {
  content: "\e625";
}

.my-icon-xiaoxi:before {
  content: "\e626";
}

.my-icon-icon_problem:before {
  content: "\e628";
}

.my-icon-icon_news:before {
  content: "\e629";
}

.my-icon-icon_eart:before {
  content: "\e62a";
}

.my-icon-icon_friend1:before {
  content: "\e62b";
}

.my-icon-icon_phone1:before {
  content: "\e62c";
}

.my-icon-icon_wechat:before {
  content: "\e631";
}

.my-icon-icon_mail:before {
  content: "\e632";
}

.my-icon-icon_moments_s:before {
  content: "\e633";
}

.my-icon-icon_friend:before {
  content: "\e61a";
}

.my-icon-gerenzhongxin:before {
  content: "\e61b";
}

.my-icon-icon_menu_n:before {
  content: "\e61c";
}

.my-icon-tuodongweizhi:before {
  content: "\e703";
}

